{% extends 'base.html' %}
{% block content %}
    <div class="row">
        <form action="{% url 'core:index' %}" method="post">
            {% csrf_token %}
            <div class="col s12">
                <div class="row">
                    <div class="input-field col s12">
                        <textarea class="materialize-textarea" name="intext" id="inputText" rows="4">{{ intext|default:"" }}</textarea>
                        <label for="inputText">Seed</label>
                    </div>
                </div>
            </div>
            <div class="col s12 center-align">
                <button class="btn waves-effect waves-light red" type="submit">Get bullied!</button>
            </div>
        </form>
    </div>
    {% if generated %}
        <div class="row">
            <div class="col s12">
                {#        <h5>Input</h5>#}
                {#        <p class="flow-text">{{ intext }}</p>#}
                {#        <h5>Output</h5>#}
                <h3>Human</h3>
                <table class="flow-text highlight">
                    <thead>
                    <tr>
                        <th>#</th>
                        <th></th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for s in sampled %}
                        <tr>
                            <td>{{ forloop.counter }}</td>
                            <td>{{ s }}</td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
                <h3>Robot</h3>
                <table class="flow-text highlight">
                    <thead>
                    <tr>
                        <th>#</th>
                        <th></th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for gen in generated %}
                        <tr>
                            <td>{{ forloop.counter }}</td>
                            <td>{{ gen }}</td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    {% endif %}
{% endblock content %}